*{
    font-family: "Helvetica";
}



body {
  background-color: #333;
    display: block;    
}

.navibar {
    width: 99%;
    position:fixed;
    margin: -10px auto 0px auto;
}

.navibar > * {
    padding: 5px;
}

ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 5px;
    background-color: #f3f3f3;
}

.first {
    margin-left: 40px;
}

ul > li {
    margin-left: 20px;
}

li {
    float: left;
}

.grades {
    background-color: #b3b3b3;
    border-radius: 5px;
    display: block;
    width:100%;

}

.grades td{
    white-space: nowrap;
}
li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 5px;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #476e9e;
}


.jai-prakash {
    min-height: 200px;
    width:  90%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border: solid #f3f3f3 2px;
    border-radius: 6px;
    background-color: #f3f3f3;   
    
}

.jai-prakash > * {
    padding-left: 40px;  
    padding-right: 40px;
}


h1 {
    font-size: 60px;
    font-weight: lighter;
}

p {
    font-size: 20px;
    padding-bottom: 20px;
}



#clickers a,.gradeShow a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 5px;
    clear:both;
}

#clickers a:hover:not(.active), .gradeShow a:hover:not(.active){
    background-color: #ddd;
}

#clickers a.active,.gradeShow a.active {
    color: white;
    background-color: #476e9e;
}

table {
    
    width: 70%;
    
}

table td {
    padding-left: 10px;
    padding-right: 10px;
}

#Headings {
    font-weight: bold;
}

#supportGiven {
    display:block;
}
#supportGiven p{
    float:left;
}

#filterD {
    margin:auto;
    width: 40%
}
.filter2 > input {
    padding: 20px;
}

.filter3{
    background-color: lightgray;
    width:40%;
    border-radius: 4px;
    padding:10px;
}

.filter3 span {
    padding 20px;
}

.filter3 input {
    padding-left: 20px;
}

input[type="text"] {
    border-radius: 5px;
    border: 1px transparent;
    box-shadow: 0px 0px 5px;
}

#button {
	background-color:#557bbd;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding-left: 20px;
    padding-right: 20px;
	text-decoration:none;
    margin-left: 18px;
    margin-top: 5px;
    border: transparent 1px;
    box-shadow: 0px 0px 0px;
    transition-property: box-shadow, border;
    transition-duration: 0.3s;
}
#button:hover {
	background-color:#476e9e;
    box-shadow: 0px 0px 5px;
}
#button:active {
	position:relative;
	top:1px;
}

select {
     border-radius: 5px;
    border: 1px transparent;
    box-shadow: 0px 0px 5px;
    
}


#sapayshall {
    margin-left: auto;
    margin-right: auto;
}