*{
    font-family: 'Helvetica'; sans-serif;  
}
	body {
		background-image:url(" https://i.ytimg.com/vi/aIajAJ89NQg/maxresdefault.jpg") ;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100% 100%;  
		background-origin: padding-box;
        font-family: 'Roboto'; sans-serif;  

	}
	h2 {

		font-size: 2.0em;
		color: rgb(34,34,34);
        text-align: center;
	}
	section#login {
		background-color: rgba(255,255,255,0.5);

   		border: 1px solid rgba(0,0,0,.15);
		border-radius: 5px;
		box-shadow: 0px 0px 40px;
		margin: 200px auto;
		padding: 24px;
		width: 500px;
		transition-property: background-color, box-shadow, border;
  		transition-duration: 0.5s;
 		transition-timing-function: linear;
		
	}

	section#login:hover {
		background-color: rgba(255,255,255,0.9);
		box-shadow: 0px 0px 500px;
	}
    section#login:hover > #username {
        border: 1px solid blue;
	}



	form.classA label {

		display: block;
        position: relative;
        margin-left: 170px;
        margin-left: 170px;
		
	}
    
#username{
    border: 1px transparent      ;
    border-radius: 10px;
    padding-left: 05px;
    box-shadow: 0px 0px 0px
    transition-property: border, box-shadow;
    transition-duration: 0.3s;
    
   

}
    
#username:hover {
    box-shadow: 0px 0px 5px;
}


#password{
     border: 1px transparent      ;
    border-radius: 10px;
        padding-left: 05px;

    box-shadow: 0px 0px 0px
    transition-property: border, box-shadow;
    transition-duration: 0.3s;
}

#password:hover {
    box-shadow: 0px 0px 5px;
}


#button {
	background-color:#557bbd;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding-left: 20px;
    padding-right: 20px;
	text-decoration:none;
    margin-left: 210px;
    margin-top: 5px;
    border: transparent 1px;
    box-shadow: 0px 0px 0px;
    transition-property: box-shadow, border;
    transition-duration: 0.3s;
}
#button:hover {
	background-color:#476e9e;
    box-shadow: 0px 0px 5px;
}
#button:active {
	position:relative;
	top:1px;
}

#failedLogin{
	color:red;
}